/* General */ 
img{
    height:200px;
    width:200px;
}

/* Typography */
h1,h2{
    text-align: center
}

/* Form styling */ 
body{
    width: 800px; margin: 0 auto;
}

/* Styling the products display */
main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: url(./images/phone_globe.jpg) no-repeat center;
    color:ivory;
}
body > div{
border: 5px solid black;
display: flex;
}

/* block styling */ 
footer {
    display: block;
  }